#about{
    .row{
        padding: 5rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .col-6{
             i{
                font-size: 2rem;
                color: $light-primary;
                padding-bottom: 1rem;
                padding-left: 1rem;
             }
             h3{
                 font-size: 2rem;
                 font-weight: 800;
                 padding-bottom: 1rem;
             }
             p{
                 font-size: 1.2rem;
                 padding-bottom: 2rem;
                 font-weight: 300;
                 color: $gray;
             }
             span{
                 font-weight: 300;
                 display: block;
                 padding-bottom: 1.5rem;
                 font-size: .9rem;
             }
             ul{
                 li{
                     color: $gray;
                     i{
                         font-size: 1rem;
                         padding-right: 1rem;
                         padding-left: 0;
                     }
                 }
             }
             img{
                 max-width: 90%;
                 height: auto;
                 position: relative;
             }
             &:nth-child(1){
                 padding: 8rem 0;
                 padding-right: 2rem;
                 padding-left: 8rem
             }
             &:nth-child(2){
                 position: relative;
                 text-align: right;
                 i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-22%, -52%);
                    z-index: 2;
                    font-size: 3rem;
                    color: #fff;
                 }
             }
        }
    }
}



// About responsive
@media only screen and (max-width: 1200px){
    #about{
        .row{
           .col-6{
               &:nth-child(1){
                padding-right: 0rem;
                padding-left: 4rem;
               }
           }
        }
    }
}



@media only screen and (max-width: 992px){
    #about{
        .row{
           grid-template-columns: 1fr;
            .col-6{
                img{
                    max-width: 100%;
                }
                &:nth-child(1){
                  padding-left: 2rem;
                }
                &:nth-child(2){
                    text-align: left;
                    padding-left: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    #about{
        .row{
            .col-6{
               h3{
                   font-size: 1.2rem;
               }
               p{
                   font-size: .9rem;
               }
               span{
                   font-size: .7rem;
               }
               &:nth-child(1){
                padding: 4rem 0;
                padding-right: 2rem;
                padding-left: 2rem
              }
              &:nth-child(2){
                text-align: left;
                padding-left: 2rem;
             }
            }
        }
    }
}

