#gallary{
    padding: 5em 0;
    .row{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .col-3{
            padding: 0;
            img{
                max-width: 100%;
            }
        }
    }
}


// gallary responsive
@media only screen and (max-width: 992px){
    #gallary{
        .row{
            grid-template-columns: repeat(2, 1fr); 
        }
    }
}

@media only screen and (max-width: 768px){
    #gallary{
        .row{
            grid-template-columns: 1fr; 
        }
    }
}