#question{
    padding: 5em 0;
    margin-bottom: 3rem;
    .row{
         display: grid;
         grid-template-columns: 1fr 1fr;
         margin-top: 2rem;
        .col-6{
            display: flex;
            span{
                background: $light-primary;
                padding: .7rem;
                height: 30px;
                border-radius: 3.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 1rem;
                    color: $white-color;
                }
            }
            div{
                margin-left: 1rem;
                h5{
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    a{
                        color: $dak-color;
                    }
                }
                p{
                    font-size: .9rem;
                    font-weight: 300;
                    color: $gray;
                }
                ul{
                    margin-top: 3rem;
                    li{
                        margin-bottom: 1rem;
                        font-size: 1.2rem;
                        font-weight: 300;
                        i{
                            padding-right: 1rem;
                            color: $primary-color;
                            font-size: 1rem;
                        }
                    }
                }
            }
            img{
               max-width: 100%;
            }
        }
    }
}


// question responsive
@media only screen and (max-width: 992px){
    #question{
        .row{
            grid-template-columns: 1fr;
            .col-6{
                padding: 0 3rem;
                span{
                    padding: .7rem;
                }
            } 
        }
    }
}


@media only screen and (max-width: 768px){
    #question{
        .row{
            .col-6{
                span{
                    padding: .7rem;
                }
            } 
        }
    }
}

@media only screen and (max-width: 600px){
    #question{
        .row{
            .col-6{
                padding: 0 1rem;
                span{
                    padding: .7rem; 
                }
            } 
        }
    }
}