@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6, a {
  font-family: 'Open Sans', sans-serif;
}

p, span, button {
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 0.5rem calc((100vw - 1200px) / 2);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  padding: 0 1rem;
}

.head-content {
  text-align: center;
  padding: 3rem 0;
}

.head-content i {
  font-size: 2rem;
  color: #a2c0be;
  padding-bottom: 1rem;
}

.head-content h3 {
  font-size: 1.9rem;
  margin-bottom: .8rem;
}

.head-content p {
  font-size: .9rem;
  color: gray;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 20rem;
}

@media only screen and (max-width: 992px) {
  .head-content p {
    padding: 0 15rem;
  }
}

@media only screen and (max-width: 768px) {
  .head-content p {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .head-content h3 {
    font-size: 1.2rem;
  }
  .head-content p {
    padding: 0 2rem;
  }
}

#navbar {
  padding: 1rem 2rem;
  background: #f8f9fa;
}

#navbar .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .row .logo h2 a {
  font-size: 1.8rem;
  color: #000;
  font-weight: 400;
}

#navbar .row .navbar-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#navbar .row .navbar-list ul li {
  margin-right: 2.5rem;
  font-size: .9rem;
  position: relative;
}

#navbar .row .navbar-list ul li i {
  font-size: .6rem;
  padding-left: .4rem;
}

#navbar .row .navbar-list ul li .dropdown-container {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #fff;
  border-top: 1px solid #567876;
  top: 10rem;
  left: 0;
  min-width: 11rem;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  opacity: 0;
  visibility: hidden;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
}

#navbar .row .navbar-list ul li .dropdown-container li {
  margin-bottom: 1.5rem;
  padding: 0rem;
  padding-right: 2rem;
  width: 100%;
  position: relative;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

#navbar .row .navbar-list ul li .dropdown-container li .arrow-right {
  margin-left: 1rem;
}

#navbar .row .navbar-list ul li .dropdown-container .second-dropdown .dropdowntow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #fff;
  border-top: 1px solid #567876;
  top: 5rem;
  left: 10.5rem;
  min-width: 11rem;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 0;
  visibility: hidden;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
}

#navbar .row .navbar-list ul li .dropdown-container .second-dropdown:hover .dropdowntow {
  opacity: 1;
  visibility: visible;
  top: 0rem;
}

#navbar .row .navbar-list ul li a {
  color: gray;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

#navbar .row .navbar-list ul li a:hover {
  color: #000;
}

#navbar .row .navbar-list ul .dropdown:hover .dropdown-container {
  top: 3rem;
  opacity: 1;
  visibility: visible;
}

#navbar .row .MobileBar {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#navbar .row .MobileBar i {
  font-size: 1.5rem;
}

.Mobile-nav {
  position: fixed;
  right: -100rem;
  top: 0;
  background: #fff;
  height: 100vh;
  min-width: 35%;
  padding: 0 2rem;
  padding-top: 2rem;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.Mobile-nav i {
  font-size: 1.8rem;
  display: block;
  text-align: right;
  margin-bottom: 2rem;
}

.Mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Mobile-nav ul li {
  margin-bottom: 1.5rem;
}

.Mobile-nav ul li a {
  color: #000;
}

@media (max-width: 1200px) {
  #navbar .row .navbar-list {
    display: none;
  }
  #navbar .row .MobileBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  #navbar .row .MobileBar i {
    font-size: 1.5rem;
  }
}

#hero {
  background: #f8f9fa;
  min-height: 80vh;
}

#hero .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
  padding: 5rem 0;
}

#hero .row .col-6 h1 {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

#hero .row .col-6 p {
  padding: .5rem 0;
  font-size: 1rem;
  color: gray;
  font-weight: 300;
  line-height: 1.5;
}

#hero .row .col-6 button {
  padding: .6rem 2rem;
  border-radius: 2rem;
  border-color: #000;
  font-size: 1rem;
  overflow: hidden;
  margin: .8rem 0;
  position: relative;
}

#hero .row .col-6 button::after {
  content: 'Learn More';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  top: 0;
  left: -160px;
  border-radius: 2rem;
  overflow: hidden;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .row .col-6 button:hover::after {
  color: #fff;
  left: 0;
}

#hero .row .col-6 img {
  max-width: 80%;
  height: auto;
}

/*------- hero responsive --------*/
@media only screen and (max-width: 992px) {
  #hero .row .col-6 h1 {
    font-size: 2.5rem;
  }
  #hero .row .col-6 p {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 768px) {
  #hero .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  #hero .row .col-6 img {
    max-width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  #hero .row .col-6 h1 {
    font-size: 2rem;
  }
  #hero .row .col-6 p {
    font-size: .8rem;
  }
}

#welcome .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

#welcome .row .col-6 {
  text-align: right;
}

#welcome .row .col-6 h4 {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

#welcome .row .col-6 p {
  font-size: .9rem;
  font-weight: 400;
  color: gray;
  line-height: 1.5;
}

#welcome .row .col-6 button {
  padding: .6rem 2rem;
  border-radius: 2rem;
  font-size: .8rem;
  margin-top: 1rem;
  background: #7ca6a3;
  border: 1px solid #7ca6a3;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#welcome .row .col-6 button:hover {
  background: #000;
}

#welcome .row .col-6 button a {
  color: #fff;
}

#welcome .row .col-6 img {
  max-width: 90%;
  height: auto;
}

#welcome .row .welcome-content {
  padding: 5rem 4rem;
}

#welcome .row .second {
  text-align: left;
}

@media only screen and (max-width: 992px) {
  #welcome .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #welcome .row .col-6 {
    text-align: left;
  }
  #welcome .row .welcome-content {
    padding: 3rem 2rem;
  }
}

#about .row {
  padding: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#about .row .col-6 i {
  font-size: 2rem;
  color: #a2c0be;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

#about .row .col-6 h3 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

#about .row .col-6 p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  font-weight: 300;
  color: gray;
}

#about .row .col-6 span {
  font-weight: 300;
  display: block;
  padding-bottom: 1.5rem;
  font-size: .9rem;
}

#about .row .col-6 ul li {
  color: gray;
}

#about .row .col-6 ul li i {
  font-size: 1rem;
  padding-right: 1rem;
  padding-left: 0;
}

#about .row .col-6 img {
  max-width: 90%;
  height: auto;
  position: relative;
}

#about .row .col-6:nth-child(1) {
  padding: 8rem 0;
  padding-right: 2rem;
  padding-left: 8rem;
}

#about .row .col-6:nth-child(2) {
  position: relative;
  text-align: right;
}

#about .row .col-6:nth-child(2) i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-22%, -52%);
          transform: translate(-22%, -52%);
  z-index: 2;
  font-size: 3rem;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  #about .row .col-6:nth-child(1) {
    padding-right: 0rem;
    padding-left: 4rem;
  }
}

@media only screen and (max-width: 992px) {
  #about .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #about .row .col-6 img {
    max-width: 100%;
  }
  #about .row .col-6:nth-child(1) {
    padding-left: 2rem;
  }
  #about .row .col-6:nth-child(2) {
    text-align: left;
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  #about .row .col-6 h3 {
    font-size: 1.2rem;
  }
  #about .row .col-6 p {
    font-size: .9rem;
  }
  #about .row .col-6 span {
    font-size: .7rem;
  }
  #about .row .col-6:nth-child(1) {
    padding: 4rem 0;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  #about .row .col-6:nth-child(2) {
    text-align: left;
    padding-left: 2rem;
  }
}

#trainer {
  background: #a2c0be;
  padding: 5em 0;
}

#trainer .head-content i {
  color: #fff;
}

#trainer .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#trainer .row .col-4 img {
  max-width: 100%;
}

#trainer .row .col-4 h4 {
  font-weight: 400;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  color: #405a58;
}

#trainer .row .col-4 p {
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.8;
}

#trainer .row .col-4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

#trainer .row .col-4 ul li {
  background: #fff;
  margin-right: 1rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

#trainer .row .col-4 ul li:hover {
  margin-top: -8px;
}

#trainer .row .col-4 ul li a {
  color: #000;
}

@media only screen and (max-width: 992px) {
  #trainer .row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #trainer .row .col-4 {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
  #trainer .row .col-4 img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #trainer .row {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #trainer .row .col-4 {
    padding: 0 3rem;
  }
  #trainer .row .col-4 img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */